body{
    background-image:url(fon/fon1.jpg) ;
    max-width: 960px;
    margin: 0 auto;
    color: seashell;
}
.header{
    background-image: url(fon/fonheader.jpg);
   
}
.nav-list{
    margin: 0;
    padding: 30px;
}
.nav-list li{
    text-align: center;
    display: inline;
    margin-right: 0;
    border: 1px solid rgb(141, 57, 103);
    padding: 50px;
}
h1{
    color: rgb(43, 204, 43);
}
.content img{
    height: 100px;
    width: 100px;
}
.city h3{
    color: coral;
}
.footer img{
    height: 30px;
    width: 30px;
}