body{
    background-image:url(fon/fon1.jpg) ;
    max-width: 960px;
    margin: 0 auto;
    color: seashell;
}
.header{
    background-image: url(fon/fonheader.jpg);
}
h1{
    color: rgb(43, 204, 43);
}
.content img{
    height: 100px;
    width: 100px;
}
.city h3{
    color: coral;
}
.footer img{
    height: 30px;
    width: 30px;
}